doctype html
html
	include meta
//- head
//- 	include meta
body

	.mainContainer
		.header 
			.menu.f20
				.mBtn.mBtn1(data-href='kv') 產品介紹
				.mBtn.mBtn2(data-href='shareBox') 達人分享
				.mBtn.mBtn3(data-href='tabBox') Thomas 天空異想
				.mBtn.mBtn4(data-href='proBox') 近期優惠
				.mBtn.mBtn5(data-href='wayBox') 指定通路
		.videoPop
			.centerWrap
				.clozBtn
				.videoBox
				.btnBox
					.btn1 近期優惠
					.btn2 指定通路


		.container 
			.kv 
				.picBox
					.pic.p1
					.pic.p2
					.pic.p3
					.pic.p4
				.txtBox 
					.title
					a.btn(href='http://www.samsung.com/tw/tablets/galaxy-tab-s3-t825/',target='_blank') 了解產品
			.shareBox
				.title.aniTitle
				.shareWrap
					.sBox
						.picBox
						.txtBox
							.txt 
							a.moreBtn(href='http://www.samsung.com/tw/discover/mobile/galaxy-tabs3-audionet/',target='_blank') 閱讀全文
					.sBox
						.picBox 
						.txtBox
							.txt 
							a.moreBtn(href='http://www.samsung.com/tw/discover/mobile/galaxy-tabs3-blogger-dacota/',target='_blank') 閱讀全文
					.sBox
						.picBox
						.txtBox
							.txt 
							a.moreBtn(href='http://www.samsung.com/tw/discover/mobile/galaxy-tabs3-elle/',target='_blank') 閱讀全文
					.sBox
						.picBox
						.txtBox
							.txt 
							a.moreBtn(href='http://www.samsung.com/tw/discover/mobile/galaxy-tabs3-blogger-kisplay/',target='_blank') 閱讀全文
				.arrBtn
			.tabBox.channel_1
				.title.aniTitle
				.tabsBox 
					.tab.t_1
						.txt
					.tab.t_2
						.txt
					.tab.t_3
						.txt
				.subContainer
					.box.box1
						.pic 
						//- .btn 作品欣賞 
					.box.box2
						.pic
							.content
					.box.box3
						.pic 
						.btn 了解活動詳情
			.workWrap
				.swiper-container
					.swiper-wrapper
						.swiper-slide.s_1
						.swiper-slide.s_2
						.swiper-slide.s_3
						.swiper-slide.s_4
						.swiper-slide.s_1
						.swiper-slide.s_2
						.swiper-slide.s_3
						.swiper-slide.s_4
				.prevBtn
				.nextBtn
			.proBox
				.title.aniTitle
				.pic 
					.pp
				a.btn(href='http://www.samsung.com/tw/discover/latest-news/mwc2017-akg/',target='_blank') 了解AKG調校
				.txt
			.wayBox
				.title.aniTitle
					.pen
				.wayContent 
					a.btn1(href='https://events.samsung.com.tw/hhp/wa/index.aspx?p=64d110af-7d9f-4e24-b08e-38f672d05aa5&pm=Galaxy%20Tab%20S3',target='_blank') 
					a.btn2(href='https://eshop.cht.com.tw/Web/Personal/mobile/details?productID=000200001580&parentMegaId=05978EA7-851C-450F-9CD0-429E1E8B2F34',target='_blank') 
		.ink 
			.ink1
			.ink2
			.ink3
			.ink4
			.ink5



	.loadPicWrap(style='display:none')
		img(src='images/pp1.png')
		img(src='images/pp2.png')
		img(src='images/pp3.png')
		img(src='images/pp4.png')
	.loadPicWrap2(style='display:none')
		img(src='images/m_tabb2.png')
		img(src='images/m_tabb3.png')
		img(src='images/tabb2.png')
		img(src='images/tabb3.png')



	
	script(type='text/javascript', src='js/index.js')
