
title 台灣三星電子 - Galaxy Tab S3 撼動想像 各平本事
meta(charset='utf-8')     
meta(name='viewport', content='width=570',user-scalable=0)
// hiding the Browser’s User Interface
meta(name='apple-mobile-web-app-capable', content='yes')     
meta(name='mobile-web-app-capable', content='yes')
// meta start
meta(name='title', content='台灣三星電子 - Galaxy Tab S3 撼動想像 各平本事')     
meta(name='description', content='Samsung 全新Galaxy Tab S3搭載四組AKG調校揚聲器，9.7 吋螢幕支援HDR播放，高感壓S Pen真實書寫觸感，Samsung Galaxy Tab S3 超強多工效能，撼動想像·各平本事！')     
meta(name='keywords', content='Samsung，Galaxy，三星，spen ，平板，Tab，s3，繪圖平板，高畫質平板')     
meta(name='copyright', content='')     
link(rel='image_src', href='')
// iOS 6
meta(name='apple-mobile-web-app-title', content='')
// OG
meta(property='og:title', content='台灣三星電子 - Galaxy Tab S3 撼動想像 各平本事')     
meta(property='og:site_name', content='台灣三星電子 - Galaxy Tab S3 撼動想像 各平本事')     
meta(property='og:description', content='Samsung 全新Galaxy Tab S3搭載四組AKG調校揚聲器，9.7 吋螢幕支援HDR播放，高感壓S Pen真實書寫觸感，Samsung Galaxy Tab S3 超強多工效能，撼動想像·各平本事！')     
meta(property='og:type', content='website')     
meta(property='og:image', content='')     
meta(property='og:url', content='')     
meta(property='fb:app_id', content='')

// css start
//- link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
//- link(rel='stylesheet', href='css/swiper.min.css')
//- link(rel='stylesheet', href='default.css')

// js start
//- script(type='text/javascript', src='js/jquery.js')
//- //- script(type='text/javascript', src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
//- script(type='text/javascript', src='js/lib/swiper.min.js')
//- script(type='text/javascript', src='js/lib/TweenMax.min.js')
//- script(type='text/javascript', src='js/lib/TimelineMax.min.js')
//- script(type='text/javascript', src='js/lib/jquery.waitforimages.min.js')
//- script(type='text/javascript', src='js/lib/visible.js')
//- //- script(type='text/javascript', src='js/lib/jquery.validate.min.js')
//- // archung js
//- script(type='text/javascript', src='js/ChungTool.js')    
//- script(type='text/javascript', src='js/FBTool.js')

